body{
    background-image: url('621d280492a9c1000165dd9e.jpg'); /* Your background image */
    background-size: cover;
    /* Scale the background accordingly */
    margin: 0;
    height: 100vh; /* Full viewport height */ 
    overflow-x: hidden; /*prevents the image to slide horizontally*/
}

.whole_box
{
    border: solid red;
    position: relative;
    top: 17 vh;
    left: 25vw;
    width: 49vw;
    height: 63vh;
   
}

.container{
   
    position: relative;
    top: -62vh;
    left: 30vw;
    width: max-content;
   
}
.search
{
    border-radius: 100px;
    width: 28vw;
    background-color: white;
    height: 10vh;
    
}
.search::placeholder{
    color: blue;
      font-size: 25px;
}
 /* this thiing down here increases the font size of the user input in the input feild */
 .search[type="text"]{   
    font-size: 34px;
}
/* THIS THING CHANGES THE FIELD HOWEVER I WANT WHEN I CLICK ON IT! */
.search[type="text"]:focus{
    border:none;
    border:  red;
}

.btn
{
    border-radius: 100px;
    color: black;
    background-color: yellow;
    position: relative;
    top: 2.3vh;
    
}
.temp,
.humidity,
.wind_speed{
          color:red;
    font-size: larger;
}

.weather_icon 
{    position: relative;
    top: 46%;
    left: 60%;

 height: 10vh;
 width: 6vw;

}

.city_name

{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.describe 
{
    position: relative;
    top :  -6vh;
    left: 13%;
font-size:xx-large ;
font-family: Georgia, 'Times New Roman', Times, serif;

}
.weather_icon,
.humidity,
.temp,
.wind_speed,
.describe,
.city_name{
    display: none;
}












@media screen and (max-width:633.5999999999999px) {
       p{
        display: none;
     }
     .search::placeholder{
        font-size: 15px;
        position: relative;
        top: -1vh;
        
     }
     .search{
    height: 3vh;
        position: relative;
        top: vh;
     }
     .container{
        position: relative;
        
       
     }
     .btn{
        
        position: relative;
        top: -0.3vh;
        border-radius: 23px;
        
     }
   .icon
   {
       height: 2vh
   }

   .search[type="text"]{   
    font-size: 23px;
}


.search[type="text"]:focus{   
    .whole_box{
        height: 100vh;
    }
}
.temp,
.humidity,
.wind_speed{
          color:red;
    font-size: larger;
    position: relative;
    left: -0.7vw;


}
.city_name{
    position: relative;
    left: -3vw;
    font-size: 20px;
color: blueviolet;
}
.describe{
    position: relative;
    left: 1.5vw;
}
.weather_icon{
    position: relative;
    left: 28vw;
    top: 2vh;
    height: 10vh;
    width:9vw
    
}
}

